version: '3'

services:
  build:
    profiles: [ 'build' ]
    build: .
    image: ${IMAGE}

  #docker run -it --rm -p 2015:2015 -v $(pwd)/data:/db --name websql acttaiwan/phpliteadmin
  #https://hub.docker.com/r/vtacquet/phpliteadmin
  websqlite:
    profiles: [ 'websqlite' ]
    container_name: websqlite
    image: vtacquet/phpliteadmin
    restart: unless-stopped
    volumes:
      - ${BASEDIR_HOST}:/db/
    ports:
      - "2015:80"
    environment:
      - TZ=America/Sao_Paulo
      - PASSWORD=admin
      - LOCATION=/db

  new:
    profiles: [ 'init' ]
    image: ${IMAGE}
    environment:
      - PROJECT=${PROJECT}
      - APP=${}
    volumes:
      - ${BASEDIR_HOST}:${BASEDIR}
    working_dir: ${BASEDIR}
    command: bash new.sh

  startapp:
    profiles: [ 'init' ]
    image: ${IMAGE}
    volumes:
      - ${BASEDIR_HOST}:${BASEDIR}
    working_dir: ${BASEDIR}
    command: django-admin startapp ${APP}

  run:
    image: ${IMAGE}
    ports:
      - "8000:8000"
    volumes:
      - ${BASEDIR_HOST}:/${BASEDIR}
    working_dir: ${BASEDIR}
    command: python3 ${BASEDIR}/manage.py runserver 0.0.0.0:8000

  migrate:
    profiles: [ 'migrate' ]
    image: ${IMAGE}
    volumes:
      - ${BASEDIR_HOST}:/${BASEDIR}
    working_dir: ${BASEDIR}
    command: bash migrations.sh
